h1 {
  text-align: center;
  color: blueviolet;
  background-color: aquamarine;
}

body {
  background: plum;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
footer {
  font-size: 18px;
  text-align: center;
}

a:hover {
  cursor: pointer;
  margin: 30 auto;
}

.information {
  color: orange;
}
